USE [G5]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 8/25/2025 11:19:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Education] [nvarchar](max) NOT NULL,
	[Experience] [nvarchar](max) NOT NULL,
	[Certificates] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Desciption] [nvarchar](max) NULL,
	[Skill] [nvarchar](255) NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Dob] [date] NULL,
	[Address] [nvarchar](50) NULL,
	[Avatar] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVAssignment]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVAssignment](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[CVID] [int] NOT NULL,
	[AssignedStaffID] [int] NOT NULL,
	[AssignedDate] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[Priority] [int] NULL,
	[ReviewDate] [datetime] NULL,
	[ReviewNotes] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CVAssignmentStatus]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE VIEW [dbo].[vw_CVAssignmentStatus] AS
        SELECT TOP 1000
            ca.AssignmentID,
            ca.CVID,
            ca.Status,
            ca.Priority,
            ca.AssignedDate,
            ca.ReviewDate,
            u1.FullName as TutorName,
            u2.FullName as StaffName,
            u2.Email as StaffEmail,
            c.Education,
            c.Experience
        FROM CVAssignment ca
        INNER JOIN CV c ON ca.CVID = c.CVID
        INNER JOIN Users u1 ON c.UserID = u1.UserID
        INNER JOIN Users u2 ON ca.AssignedStaffID = u2.UserID
        ORDER BY ca.AssignedDate DESC
GO
/****** Object:  Table [dbo].[StaffWorkload]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffWorkload](
	[StaffID] [int] NOT NULL,
	[CurrentCVCount] [int] NULL,
	[MaxCVCapacity] [int] NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AdminCVOverview]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_AdminCVOverview] AS
SELECT TOP 1000
    c.CVID,
    c.Status as CVStatus,
    c.Education,
    c.Experience,
    c.Skill,
    c.Price,
    u.FullName as TutorName,
    u.Email as TutorEmail,
    u.Phone as TutorPhone,
    c.UserID,
    ca.AssignmentID,
    ca.Status as AssignmentStatus,
    ca.AssignedDate,
    ca.ReviewDate,
    ca.ReviewNotes,
    staff.FullName as StaffName,
    staff.Email as StaffEmail,
    sw.CurrentCVCount as StaffWorkload,
    sw.MaxCVCapacity as StaffCapacity
FROM CV c
INNER JOIN Users u ON c.UserID = u.UserID
LEFT JOIN CVAssignment ca ON c.CVID = ca.CVID
LEFT JOIN Users staff ON ca.AssignedStaffID = staff.UserID
LEFT JOIN StaffWorkload sw ON staff.UserID = sw.StaffID
ORDER BY c.CVID DESC;
GO
/****** Object:  View [dbo].[vw_StaffCVOverview]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_StaffCVOverview] AS
SELECT TOP 1000
    ca.AssignmentID,
    ca.CVID,
    ca.Status as AssignmentStatus,
    ca.Priority,
    ca.AssignedDate,
    ca.ReviewDate,
    ca.ReviewNotes,
    c.Education,
    c.Experience,
    c.Skill,
    c.Price,
    c.Status as CVStatus,
    u.FullName as TutorName,
    u.Email as TutorEmail,
    u.Phone as TutorPhone,
    u.UserID as TutorUserID
FROM CVAssignment ca
INNER JOIN CV c ON ca.CVID = c.CVID
INNER JOIN Users u ON c.UserID = u.UserID
ORDER BY ca.Priority DESC, ca.AssignedDate ASC;
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blogID] [int] IDENTITY(1,1) NOT NULL,
	[staffID] [int] NULL,
	[authorName] [nvarchar](255) NULL,
	[thumbnail] [nvarchar](500) NULL,
	[title] [nvarchar](500) NULL,
	[content] [nvarchar](max) NULL,
	[createdAt] [datetime] NULL,
	[summary] [nvarchar](max) NULL,
	[StaffUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[blogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[TutorID] [int] NOT NULL,
	[SlotID] [int] NOT NULL,
	[BookingDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerUsers]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerUsers](
	[CustomerUserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Dob] [date] NULL,
	[Address] [nvarchar](50) NULL,
	[Avatar] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryLog]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[TargetID] [int] NULL,
	[Details] [nvarchar](max) NULL,
	[LogDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyWithdrawalRequest]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyWithdrawalRequest](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[TutorID] [int] NOT NULL,
	[Month] [varchar](7) NOT NULL,
	[TotalEarningsAfterCommission] [decimal](10, 2) NOT NULL,
	[WithdrawStatus] [varchar](20) NULL,
	[Content] [varchar](255) NULL,
	[RequestDate] [datetime] NULL,
	[AdminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[UserID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentDate] [datetime] NULL,
	[PromotionID] [int] NULL,
	[SubjectID] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CustomerUserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PointID] [int] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountType] [nvarchar](20) NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[TutorID] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[IsBooked] [bit] NULL,
	[SubjectID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[SlotID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffProfile]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffProfile](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffUserID] [int] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Department] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffSpecialization]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffSpecialization](
	[StaffID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[ExpertiseLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffUsers]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffUsers](
	[StaffUserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[HiredAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerUserID] [int] NOT NULL,
	[Grade] [nvarchar](50) NULL,
	[JoinedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](255) NOT NULL,
	[expiryTime] [datetime2](7) NOT NULL,
	[isUsed] [bit] NOT NULL,
	[userId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[TutorID] [int] IDENTITY(1,1) NOT NULL,
	[CVID] [int] NULL,
	[Rating] [float] NULL,
	[Price] [float] NULL,
	[CustomerUserID] [int] NULL,
 CONSTRAINT [PK_Tutor] PRIMARY KEY CLUSTERED 
(
	[TutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorEarnings]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorEarnings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TutorID] [int] NOT NULL,
	[BookingID] [int] NOT NULL,
	[BookingDate] [date] NOT NULL,
	[HourlyRate] [decimal](10, 2) NOT NULL,
	[TotalEarnings] [decimal](10, 2) NOT NULL,
	[SytemCommissionRate] [decimal](3, 2) NOT NULL,
	[EarningsAfterCommission] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorRating]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorRating](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[TutorID] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[RatingDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TutorSubject]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TutorSubject](
	[TutorID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
 CONSTRAINT [PK_TutorSubject] PRIMARY KEY CLUSTERED 
(
	[TutorID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([blogID], [staffID], [authorName], [thumbnail], [title], [content], [createdAt], [summary], [StaffUserID]) VALUES (11, 47, N'Trần Thị Lan', N'uploads/1755932152916_logo.png', N'ABC', N'<p>ABC</p>
', CAST(N'2025-08-23T13:55:52.933' AS DateTime), N'ACB', NULL)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingID], [StudentID], [TutorID], [SlotID], [BookingDate], [Status], [SubjectID]) VALUES (1, 1, 1, 1, CAST(N'2025-03-26T00:00:00.000' AS DateTime), N'Completed', 1)
INSERT [dbo].[Booking] ([BookingID], [StudentID], [TutorID], [SlotID], [BookingDate], [Status], [SubjectID]) VALUES (2, 1, 1, 2, CAST(N'2025-03-26T00:00:00.000' AS DateTime), N'Completed', 1)
INSERT [dbo].[Booking] ([BookingID], [StudentID], [TutorID], [SlotID], [BookingDate], [Status], [SubjectID]) VALUES (3, 1, 1, 3, CAST(N'2025-03-26T00:00:00.000' AS DateTime), N'Completed', 1)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerUsers] ON 

INSERT [dbo].[CustomerUsers] ([CustomerUserID], [Email], [FullName], [Phone], [CreatedAt], [IsActive], [Dob], [Address], [Avatar], [UserName], [Password]) VALUES (1, N'levuhai15102004@gmail.com', N'Lê Vũ Hải', N'0397984480', CAST(N'2025-03-06T15:30:05.377' AS DateTime), 1, CAST(N'2004-10-15' AS Date), N'18A Phạm Hùng, Nam Từ Liêm, Hà Nội', N'uploads/default_avatar.jpg', N'levuhai', N'25d55ad283aa400af464c76d713c07ad')
INSERT [dbo].[CustomerUsers] ([CustomerUserID], [Email], [FullName], [Phone], [CreatedAt], [IsActive], [Dob], [Address], [Avatar], [UserName], [Password]) VALUES (2, N'vu.hoai.bao@gmail.com', N'Vũ Hoài Bảo', N'0912340987', CAST(N'2025-03-25T15:22:17.187' AS DateTime), 1, CAST(N'1990-07-18' AS Date), N'876 Phạm Ngũ Lão, Quận 1, TP.HCM', N'uploads/default_avatar.jpg', N'vuhoaibao', N'25d55ad283aa400af464c76d713c07ad')
INSERT [dbo].[CustomerUsers] ([CustomerUserID], [Email], [FullName], [Phone], [CreatedAt], [IsActive], [Dob], [Address], [Avatar], [UserName], [Password]) VALUES (3, N'dao.thi.lan@gmail.com', N'Đào Thị Lan', N'0926783456', CAST(N'2025-03-25T15:22:17.187' AS DateTime), 1, CAST(N'1989-03-28' AS Date), N'210 Võ Thị Sáu, Quận 3, TP.HCM', N'uploads/default_avatar.jpg', N'daothilan', N'25d55ad283aa400af464c76d713c07ad')
SET IDENTITY_INSERT [dbo].[CustomerUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[CV] ON 

INSERT [dbo].[CV] ([CVID], [UserID], [Education], [Experience], [Certificates], [Status], [SubjectId], [Desciption], [Skill], [Price]) VALUES (1, 26, N'Đại học Kinh tế TP.HCM', N'5 năm kinh nghiệm trong lĩnh vực tài chính ngân hàng', N'Chứng chỉ CFA Level 1', N'Approved', 1, N'Chuyên viên tài chính với kỹ năng giao tiếp tiếng Anh tốt.', NULL, NULL)
INSERT [dbo].[CV] ([CVID], [UserID], [Education], [Experience], [Certificates], [Status], [SubjectId], [Desciption], [Skill], [Price]) VALUES (7, 27, N'Đại học Ngoại Thương', N'3 năm kinh nghiệm xuất nhập khẩu', N'Chứng chỉ HSK 5', N'Approved', 2, N'Chuyên viên xuất nhập khẩu, thông thạo tiếng Trung.', NULL, NULL)
INSERT [dbo].[CV] ([CVID], [UserID], [Education], [Experience], [Certificates], [Status], [SubjectId], [Desciption], [Skill], [Price]) VALUES (8, 28, N'Đại học Bách Khoa TP.HCM', N'4 năm kinh nghiệm kỹ sư phần mềm', N'Chứng chỉ TOEIC 900', N'Approved', 1, N'Kỹ sư phần mềm, giao tiếp tiếng Anh lưu loát.', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CV] OFF
GO
SET IDENTITY_INSERT [dbo].[CVAssignment] ON 

INSERT [dbo].[CVAssignment] ([AssignmentID], [CVID], [AssignedStaffID], [AssignedDate], [Status], [Priority], [ReviewDate], [ReviewNotes]) VALUES (15, 36, 47, CAST(N'2025-08-25T00:29:16.903' AS DateTime), N'Pending', 1, NULL, NULL)
INSERT [dbo].[CVAssignment] ([AssignmentID], [CVID], [AssignedStaffID], [AssignedDate], [Status], [Priority], [ReviewDate], [ReviewNotes]) VALUES (16, 36, 47, CAST(N'2025-08-25T00:29:16.977' AS DateTime), N'Pending', 1, NULL, NULL)
INSERT [dbo].[CVAssignment] ([AssignmentID], [CVID], [AssignedStaffID], [AssignedDate], [Status], [Priority], [ReviewDate], [ReviewNotes]) VALUES (17, 37, 47, CAST(N'2025-08-25T00:33:57.760' AS DateTime), N'Pending', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CVAssignment] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryLog] ON 

INSERT [dbo].[HistoryLog] ([LogID], [UserID], [ActionType], [TargetID], [Details], [LogDate]) VALUES (1927, 4, N'LOGOUT', NULL, N'User logged out', CAST(N'2025-08-15T10:54:32.517' AS DateTime))
INSERT [dbo].[HistoryLog] ([LogID], [UserID], [ActionType], [TargetID], [Details], [LogDate]) VALUES (1928, 4, N'LOGOUT', NULL, N'User logged out', CAST(N'2025-08-15T11:04:42.877' AS DateTime))
INSERT [dbo].[HistoryLog] ([LogID], [UserID], [ActionType], [TargetID], [Details], [LogDate]) VALUES (1929, 47, N'LOGOUT', NULL, N'User logged out', CAST(N'2025-08-15T11:08:20.483' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[HistoryLog] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyWithdrawalRequest] ON 

INSERT [dbo].[MonthlyWithdrawalRequest] ([RequestID], [TutorID], [Month], [TotalEarningsAfterCommission], [WithdrawStatus], [Content], [RequestDate], [AdminID]) VALUES (29, 1, N'2024-01', CAST(160000.00 AS Decimal(10, 2)), N'Paid', N'STK: 9012312310239 - Ngân hàng MB BANK', CAST(N'2025-03-30T12:26:14.993' AS DateTime), 48)
INSERT [dbo].[MonthlyWithdrawalRequest] ([RequestID], [TutorID], [Month], [TotalEarningsAfterCommission], [WithdrawStatus], [Content], [RequestDate], [AdminID]) VALUES (30, 1, N'2025-03', CAST(1440000.00 AS Decimal(10, 2)), N'Paid', N'STK: 0912393224 - Ngân hàng MB bank', CAST(N'2025-04-19T22:28:20.167' AS DateTime), 4)
INSERT [dbo].[MonthlyWithdrawalRequest] ([RequestID], [TutorID], [Month], [TotalEarningsAfterCommission], [WithdrawStatus], [Content], [RequestDate], [AdminID]) VALUES (31, 11, N'2025-03', CAST(144000.00 AS Decimal(10, 2)), N'Rejected', N'STK: 0912392235 - Ngân hàng MB Bank', CAST(N'2025-08-12T22:24:39.157' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[MonthlyWithdrawalRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [BookingID], [UserID], [Amount], [PaymentMethod], [PaymentDate], [PromotionID], [SubjectID], [Status], [CustomerUserID]) VALUES (1, NULL, 5, CAST(200.00 AS Decimal(10, 2)), N'VNPAY', CAST(N'2025-03-26T08:55:47.150' AS DateTime), NULL, 1, N'Processing', NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [UserID], [Amount], [PaymentMethod], [PaymentDate], [PromotionID], [SubjectID], [Status], [CustomerUserID]) VALUES (2, NULL, 5, CAST(200.00 AS Decimal(10, 2)), N'VNPAY', CAST(N'2025-03-26T08:56:22.810' AS DateTime), NULL, 1, N'Failed', NULL)
INSERT [dbo].[Payment] ([PaymentID], [BookingID], [UserID], [Amount], [PaymentMethod], [PaymentDate], [PromotionID], [SubjectID], [Status], [CustomerUserID]) VALUES (3, 1, 5, CAST(200000.00 AS Decimal(10, 2)), N'VNPAY', CAST(N'2025-03-26T09:07:23.160' AS DateTime), NULL, 1, N'Completed', NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportID], [BookID], [UserID], [Reason], [Status], [CreatedAt]) VALUES (1, 2, 5, N'dạy rất là chán, không ân cần', N'Approved', CAST(N'2025-03-28T16:13:17.737' AS DateTime))
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị hệ thống')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (2, N'User', N'Người dùng thông thường')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (3, N'Tutor', N'Gia sư')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ScheduleID], [TutorID], [StartTime], [EndTime], [IsBooked], [SubjectID], [Status]) VALUES (1, 1, CAST(N'2025-03-26T17:00:00.000' AS DateTime), CAST(N'2025-03-26T18:00:00.000' AS DateTime), 1, 1, N'Qualified')
INSERT [dbo].[Schedule] ([ScheduleID], [TutorID], [StartTime], [EndTime], [IsBooked], [SubjectID], [Status]) VALUES (2, 1, CAST(N'2025-03-25T20:00:00.000' AS DateTime), CAST(N'2025-03-25T21:00:00.000' AS DateTime), 0, 1, N'Qualified')
INSERT [dbo].[Schedule] ([ScheduleID], [TutorID], [StartTime], [EndTime], [IsBooked], [SubjectID], [Status]) VALUES (3, 1, CAST(N'2025-03-29T22:17:00.000' AS DateTime), CAST(N'2025-03-29T23:17:00.000' AS DateTime), 1, 1, N'Qualified')
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([SlotID], [ScheduleID], [Status]) VALUES (1, 1, N'Available')
INSERT [dbo].[Slot] ([SlotID], [ScheduleID], [Status]) VALUES (2, 3, N'Available')
INSERT [dbo].[Slot] ([SlotID], [ScheduleID], [Status]) VALUES (3, 4, N'Available')
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
INSERT [dbo].[StaffWorkload] ([StaffID], [CurrentCVCount], [MaxCVCapacity], [LastUpdated]) VALUES (47, 18, 10, CAST(N'2025-08-25T00:33:57.800' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [CustomerUserID], [Grade], [JoinedAt]) VALUES (1, 1, NULL, CAST(N'2025-08-16T00:23:26.680' AS DateTime))
INSERT [dbo].[Student] ([StudentID], [CustomerUserID], [Grade], [JoinedAt]) VALUES (2, 2, NULL, CAST(N'2025-08-16T00:23:26.680' AS DateTime))
INSERT [dbo].[Student] ([StudentID], [CustomerUserID], [Grade], [JoinedAt]) VALUES (3, 3, NULL, CAST(N'2025-08-16T00:23:26.680' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description], [Status]) VALUES (1, N'English', N'Ngôn ngữ quốc tế, được sử dụng rộng rãi trong kinh doanh và giáo dục.', N'Active')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description], [Status]) VALUES (2, N'Chinese', N'Ngôn ngữ có số lượng người bản xứ nhiều nhất trên thế giới.', N'Active')
INSERT [dbo].[Subject] ([SubjectID], [SubjectName], [Description], [Status]) VALUES (3, N'Spanish', N'Ngôn ngữ chính thức của nhiều quốc gia ở Châu Mỹ Latinh và Tây Ban Nha.', N'Active')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Token] ON 

INSERT [dbo].[Token] ([id], [token], [expiryTime], [isUsed], [userId]) VALUES (1, N'70e6c235-ae32-4d5c-87c4-ac91f7320def', CAST(N'2025-03-27T17:01:59.7860926' AS DateTime2), 1, 48)
INSERT [dbo].[Token] ([id], [token], [expiryTime], [isUsed], [userId]) VALUES (2, N'0e81ba0a-dea0-4300-b70d-6202f2a87b46', CAST(N'2025-03-27T17:02:14.6528947' AS DateTime2), 0, 48)
INSERT [dbo].[Token] ([id], [token], [expiryTime], [isUsed], [userId]) VALUES (3, N'9095a898-7d5c-4d9f-9710-d945505d411c', CAST(N'2025-03-27T17:05:03.7374667' AS DateTime2), 0, 4)
SET IDENTITY_INSERT [dbo].[Token] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutor] ON 

INSERT [dbo].[Tutor] ([TutorID], [CVID], [Rating], [Price], [CustomerUserID]) VALUES (1, 1, 5, 200000, NULL)
INSERT [dbo].[Tutor] ([TutorID], [CVID], [Rating], [Price], [CustomerUserID]) VALUES (2, 7, 5, 200000, NULL)
INSERT [dbo].[Tutor] ([TutorID], [CVID], [Rating], [Price], [CustomerUserID]) VALUES (3, 8, 5, 200000, NULL)
SET IDENTITY_INSERT [dbo].[Tutor] OFF
GO
SET IDENTITY_INSERT [dbo].[TutorEarnings] ON 

INSERT [dbo].[TutorEarnings] ([ID], [TutorID], [BookingID], [BookingDate], [HourlyRate], [TotalEarnings], [SytemCommissionRate], [EarningsAfterCommission]) VALUES (1, 1, 1, CAST(N'2025-03-26' AS Date), CAST(200000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)), CAST(0.20 AS Decimal(3, 2)), CAST(160000.00 AS Decimal(10, 2)))
INSERT [dbo].[TutorEarnings] ([ID], [TutorID], [BookingID], [BookingDate], [HourlyRate], [TotalEarnings], [SytemCommissionRate], [EarningsAfterCommission]) VALUES (2, 1, 2, CAST(N'2025-03-26' AS Date), CAST(200000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)), CAST(0.20 AS Decimal(3, 2)), CAST(160000.00 AS Decimal(10, 2)))
INSERT [dbo].[TutorEarnings] ([ID], [TutorID], [BookingID], [BookingDate], [HourlyRate], [TotalEarnings], [SytemCommissionRate], [EarningsAfterCommission]) VALUES (3, 1, 3, CAST(N'2025-03-26' AS Date), CAST(200000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)), CAST(0.20 AS Decimal(3, 2)), CAST(160000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TutorEarnings] OFF
GO
SET IDENTITY_INSERT [dbo].[TutorRating] ON 

INSERT [dbo].[TutorRating] ([RatingID], [BookingID], [StudentID], [TutorID], [Rating], [Comment], [RatingDate]) VALUES (2, 2, 1, 1, 5, N'Dạy rất hay, rất dễ hiểu', CAST(N'2025-03-28T14:30:05.980' AS DateTime))
INSERT [dbo].[TutorRating] ([RatingID], [BookingID], [StudentID], [TutorID], [Rating], [Comment], [RatingDate]) VALUES (3, 17, 1, 1, 4, N'Xử lí rất tốt', CAST(N'2025-03-28T14:30:49.480' AS DateTime))
INSERT [dbo].[TutorRating] ([RatingID], [BookingID], [StudentID], [TutorID], [Rating], [Comment], [RatingDate]) VALUES (4, 21, 1, 11, 5, N'Cô giáo dạy rất tốt, có trình độ rất cao', CAST(N'2025-03-30T12:04:31.743' AS DateTime))
SET IDENTITY_INSERT [dbo].[TutorRating] OFF
GO
INSERT [dbo].[TutorSubject] ([TutorID], [SubjectID]) VALUES (1, 1)
INSERT [dbo].[TutorSubject] ([TutorID], [SubjectID]) VALUES (2, 2)
INSERT [dbo].[TutorSubject] ([TutorID], [SubjectID]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [FullName], [Phone], [CreatedAt], [IsActive], [Dob], [Address], [Avatar], [UserName], [Password]) VALUES (4, 1, N'phamdatanh23mklc@gmail.com', N'Phạm Đạt Anh', N'0359823661', CAST(N'2025-02-14T10:05:56.037' AS DateTime), 1, CAST(N'2003-06-17' AS Date), N'Mễ Trì Hạ, Phạm Hùng, Nam Từ Liêm, Hà Nội', N'uploads/default_avatar.jpg', N'admin', N'25d55ad283aa400af464c76d713c07ad')
INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [FullName], [Phone], [CreatedAt], [IsActive], [Dob], [Address], [Avatar], [UserName], [Password]) VALUES (5, 2, N'levuhai15102004@gmail.com', N'Lê Vũ Hải', N'0397984480', CAST(N'2025-03-06T15:30:05.377' AS DateTime), 1, CAST(N'2004-10-15' AS Date), N'18A Phạm Hùng, Nam Từ Liêm, Hà Nội', N'uploads/default_avatar.jpg', N'levuhai', N'25d55ad283aa400af464c76d713c07ad')
INSERT [dbo].[Users] ([UserID], [RoleID], [Email], [FullName], [Phone], [CreatedAt], [IsActive], [Dob], [Address], [Avatar], [UserName], [Password]) VALUES (26, 3, N'nguyen.van.hieu@gmail.com', N'Nguyễn Văn Hiếu', N'0987654321', CAST(N'2025-03-25T15:22:17.187' AS DateTime), 1, CAST(N'1990-05-15' AS Date), N'123 Lê Lợi, Quận 1, TP.HCM', N'uploads/default_avatar.jpg', N'nguyenvanhieu', N'25d55ad283aa400af464c76d713c07ad')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__A25C5AA79E7D0890]    Script Date: 8/25/2025 11:19:09 AM ******/
ALTER TABLE [dbo].[Promotions] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B616097AAC575]    Script Date: 8/25/2025 11:19:09 AM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StaffPro__498B41034EB78785]    Script Date: 8/25/2025 11:19:09 AM ******/
ALTER TABLE [dbo].[StaffProfile] ADD UNIQUE NONCLUSTERED 
(
	[StaffUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Student__9686C58C761874B7]    Script Date: 8/25/2025 11:19:09 AM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[CustomerUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subject__4C5A7D55397465DE]    Script Date: 8/25/2025 11:19:09 AM ******/
ALTER TABLE [dbo].[Subject] ADD UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105347CFCB8F8]    Script Date: 8/25/2025 11:19:09 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[CVAssignment] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[CVAssignment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[CVAssignment] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[HistoryLog] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[MonthlyWithdrawalRequest] ADD  DEFAULT ('Pending') FOR [WithdrawStatus]
GO
ALTER TABLE [dbo].[MonthlyWithdrawalRequest] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Processing') FOR [Status]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT ((0)) FOR [IsBooked]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[StaffSpecialization] ADD  DEFAULT ((1)) FOR [ExpertiseLevel]
GO
ALTER TABLE [dbo].[StaffWorkload] ADD  DEFAULT ((0)) FOR [CurrentCVCount]
GO
ALTER TABLE [dbo].[StaffWorkload] ADD  DEFAULT ((10)) FOR [MaxCVCapacity]
GO
ALTER TABLE [dbo].[StaffWorkload] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[TutorRating] ADD  DEFAULT (getdate()) FOR [RatingDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Staff] FOREIGN KEY([staffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Staff]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_StaffUsers] FOREIGN KEY([StaffUserID])
REFERENCES [dbo].[StaffUsers] ([StaffUserID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_StaffUsers]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([SlotID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Slot] FOREIGN KEY([SlotID])
REFERENCES [dbo].[Slot] ([SlotID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Slot]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Student_New] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Student_New]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Subject]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Tutor] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Tutor]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Tutor_New] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Tutor_New]
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_Subject]
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD  CONSTRAINT [FK_CV_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CV] CHECK CONSTRAINT [FK_CV_Users]
GO
ALTER TABLE [dbo].[CVAssignment]  WITH CHECK ADD  CONSTRAINT [FK_CVAssignment_CV] FOREIGN KEY([CVID])
REFERENCES [dbo].[CV] ([CVID])
GO
ALTER TABLE [dbo].[CVAssignment] CHECK CONSTRAINT [FK_CVAssignment_CV]
GO
ALTER TABLE [dbo].[CVAssignment]  WITH CHECK ADD  CONSTRAINT [FK_CVAssignment_Users] FOREIGN KEY([AssignedStaffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CVAssignment] CHECK CONSTRAINT [FK_CVAssignment_Users]
GO
ALTER TABLE [dbo].[MonthlyWithdrawalRequest]  WITH CHECK ADD FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[MonthlyWithdrawalRequest]  WITH CHECK ADD  CONSTRAINT [FK_Withdrawal_Tutor] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[MonthlyWithdrawalRequest] CHECK CONSTRAINT [FK_Withdrawal_Tutor]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_CustomerUsers] FOREIGN KEY([CustomerUserID])
REFERENCES [dbo].[CustomerUsers] ([CustomerUserID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_CustomerUsers]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Promotions] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotions] ([PromotionID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Promotions]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Subject]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Booking] FOREIGN KEY([BookID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Booking]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Users]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Subject]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Tutor] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Tutor]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Tutor_New] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Tutor_New]
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD  CONSTRAINT [FK_Slot_Schedule] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[Slot] CHECK CONSTRAINT [FK_Slot_Schedule]
GO
ALTER TABLE [dbo].[StaffProfile]  WITH CHECK ADD  CONSTRAINT [FK_StaffProfile_StaffUsers] FOREIGN KEY([StaffUserID])
REFERENCES [dbo].[StaffUsers] ([StaffUserID])
GO
ALTER TABLE [dbo].[StaffProfile] CHECK CONSTRAINT [FK_StaffProfile_StaffUsers]
GO
ALTER TABLE [dbo].[StaffSpecialization]  WITH CHECK ADD  CONSTRAINT [FK_StaffSpecialization_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[StaffSpecialization] CHECK CONSTRAINT [FK_StaffSpecialization_Subject]
GO
ALTER TABLE [dbo].[StaffSpecialization]  WITH CHECK ADD  CONSTRAINT [FK_StaffSpecialization_Users] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StaffSpecialization] CHECK CONSTRAINT [FK_StaffSpecialization_Users]
GO
ALTER TABLE [dbo].[StaffWorkload]  WITH CHECK ADD  CONSTRAINT [FK_StaffWorkload_Users] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StaffWorkload] CHECK CONSTRAINT [FK_StaffWorkload_Users]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_CustomerUsers] FOREIGN KEY([CustomerUserID])
REFERENCES [dbo].[CustomerUsers] ([CustomerUserID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_CustomerUsers]
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_CustomerUsers] FOREIGN KEY([CustomerUserID])
REFERENCES [dbo].[CustomerUsers] ([CustomerUserID])
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_CustomerUsers]
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_CV] FOREIGN KEY([CVID])
REFERENCES [dbo].[CV] ([CVID])
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_CV]
GO
ALTER TABLE [dbo].[TutorEarnings]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[TutorEarnings]  WITH CHECK ADD FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[TutorEarnings]  WITH CHECK ADD  CONSTRAINT [FK_TutorEarnings_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[TutorEarnings] CHECK CONSTRAINT [FK_TutorEarnings_Booking]
GO
ALTER TABLE [dbo].[TutorEarnings]  WITH CHECK ADD  CONSTRAINT [FK_TutorEarnings_Tutor] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[TutorEarnings] CHECK CONSTRAINT [FK_TutorEarnings_Tutor]
GO
ALTER TABLE [dbo].[TutorRating]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[TutorRating]  WITH CHECK ADD FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[TutorRating]  WITH CHECK ADD  CONSTRAINT [FK_TutorRating_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
GO
ALTER TABLE [dbo].[TutorRating] CHECK CONSTRAINT [FK_TutorRating_Booking]
GO
ALTER TABLE [dbo].[TutorRating]  WITH CHECK ADD  CONSTRAINT [FK_TutorRating_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[TutorRating] CHECK CONSTRAINT [FK_TutorRating_Student]
GO
ALTER TABLE [dbo].[TutorRating]  WITH CHECK ADD  CONSTRAINT [FK_TutorRating_Tutor] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[TutorRating] CHECK CONSTRAINT [FK_TutorRating_Tutor]
GO
ALTER TABLE [dbo].[TutorSubject]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[TutorSubject]  WITH CHECK ADD  CONSTRAINT [FK_TutorSubject_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[TutorSubject] CHECK CONSTRAINT [FK_TutorSubject_Subject]
GO
ALTER TABLE [dbo].[TutorSubject]  WITH CHECK ADD  CONSTRAINT [FK_TutorSubject_Tutor] FOREIGN KEY([TutorID])
REFERENCES [dbo].[Tutor] ([TutorID])
GO
ALTER TABLE [dbo].[TutorSubject] CHECK CONSTRAINT [FK_TutorSubject_Tutor]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Status]='Failed' OR [Status]='Completed' OR [Status]='Processing'))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountType]='Fixed' OR [DiscountType]='Percentage'))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountType]='Fixed' OR [DiscountType]='Percentage'))
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD CHECK  (([DiscountType]='Fixed' OR [DiscountType]='Percentage'))
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Booked' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Booked' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Slot]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Booked' OR [Status]='Available'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AutoAssignCV]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AutoAssignCV]
    @CVId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StaffUserId INT;
    DECLARE @CurrentDate DATETIME = GETDATE();
    
    -- Kiểm tra xem CV đã được phân công chưa
    IF EXISTS (SELECT 1 FROM CVAssignment WHERE CVID = @CVId)
    BEGIN
        PRINT 'CV ' + CAST(@CVId AS VARCHAR(10)) + ' đã được phân công rồi.';
        RETURN;
    END
    
    -- Tìm staff có ít CV nhất để phân công (Sử dụng RoleID = 4 cho Staff)
    SELECT TOP 1 @StaffUserId = u.UserID
    FROM Users u
    LEFT JOIN CVAssignment cva ON u.UserID = cva.AssignedStaffID
    WHERE u.RoleID = 4 AND u.IsActive = 1 -- RoleID = 4 là Staff
    GROUP BY u.UserID
    ORDER BY COUNT(cva.AssignmentID) ASC;

    -- Nếu tìm thấy staff, phân công CV
    IF @StaffUserId IS NOT NULL
    BEGIN
        INSERT INTO CVAssignment (CVID, AssignedStaffID, AssignedDate, Status, Priority)
        VALUES (@CVId, @StaffUserId, @CurrentDate, 'Pending', 2); -- Priority = 2 (Medium)

        PRINT 'CV ' + CAST(@CVId AS VARCHAR(10)) + ' đã được phân công cho Staff UserID: ' + CAST(@StaffUserId AS VARCHAR(10));
    END
    ELSE
    BEGIN
        PRINT 'Không tìm thấy staff phù hợp để phân công CV ' + CAST(@CVId AS VARCHAR(10));
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCVsForAdmin]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllCVsForAdmin]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        cva.AssignmentID,
        cva.CVID,
        cva.AssignedStaffID,
        cva.AssignedDate,
        cva.Status AS AssignmentStatus,
        cva.Priority,
        cv.UserID AS TutorUserID,
        cv.Education,
        cv.Experience,
        cv.Certificates,
        cv.Status AS CVStatus,
        cv.SubjectId,
        cv.Desciption,
        cv.Skill,
        cv.Price,
        u.FullName AS TutorFullName,
        u.Email AS TutorEmail,
        u.Phone AS TutorPhone,
        u.IsActive AS TutorIsActive,
        u2.FullName AS StaffFullName,
        u2.Email AS StaffEmail
    FROM CVAssignment cva
    JOIN CV cv ON cva.CVID = cv.CVID
    JOIN Users u ON cv.UserID = u.UserID
    LEFT JOIN Users u2 ON cva.AssignedStaffID = u2.UserID
    ORDER BY cva.AssignedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAssignedCVsForStaff]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- Táº¡o stored procedure má»›i
CREATE PROCEDURE [dbo].[sp_GetAssignedCVsForStaff]
    @StaffUserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        cva.AssignmentID,
        cva.CVID,
        cva.AssignedStaffID,
        cva.AssignedDate,
        cva.Status AS AssignmentStatus,
        cva.Priority,
        cv.UserID AS TutorUserID,
        cv.Education,
        cv.Experience,
        cv.Skill,
        cv.Price,
        u.FullName AS TutorFullName,
        u.Email AS TutorEmail,
        u.Phone AS TutorPhone
    FROM CVAssignment cva
    JOIN CV cv ON cva.CVID = cv.CVID
    JOIN Users u ON cv.UserID = u.UserID
    WHERE cva.AssignedStaffID = @StaffUserId
    ORDER BY cva.Priority DESC, cva.AssignedDate ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCVStatusByStaff]    Script Date: 8/25/2025 11:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCVStatusByStaff]
    @AssignmentId INT,
    @Status NVARCHAR(50),
    @StaffId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CVId INT;
    DECLARE @CurrentStatus NVARCHAR(50);

    -- Lấy CVID và trạng thái hiện tại của assignment
    SELECT @CVId = CVID, @CurrentStatus = Status
    FROM CVAssignment
    WHERE AssignmentID = @AssignmentId AND AssignedStaffID = @StaffId;

    IF @CVId IS NOT NULL
    BEGIN
        -- Cập nhật trạng thái của CVAssignment (KHÔNG có UpdatedAt)
        UPDATE CVAssignment
        SET Status = @Status
        WHERE AssignmentID = @AssignmentId;

        -- Cập nhật trạng thái của CV (KHÔNG có UpdatedAt)
        UPDATE CV
        SET Status = @Status
        WHERE CVID = @CVId;

        PRINT 'CV ' + CAST(@CVId AS VARCHAR(10)) + ' đã được cập nhật trạng thái thành ' + @Status;
    END
    ELSE
    BEGIN
        PRINT 'Không tìm thấy assignment với ID ' + CAST(@AssignmentId AS VARCHAR(10)) + ' được phân công cho Staff ID ' + CAST(@StaffId AS VARCHAR(10));
    END
END;
GO
